@font - face {
    font - family: 'Open Sans';
    src: url(.. / src / css / 'Open Sans' - Regular - webfont.eot);
    src: url(.. / src / css / 'Open Sans' - Regular - webfont.eot# iefix) format("embedded-opentype"), url(.. / src / css / 'Open Sans' - Regular - webfont.woff) format("woff"), url(.. / src / css / 'Open Sans' - Regular - webfont.ttf) format("truetype"), url(.. / src / css / 'Open Sans' - Regular - webfont.svg# 'Open Sans'regular) format("svg");
    font - weight: 400;
    font - style: normal
}
@font - face {
    font - family: 'Open Sans' - bold;
    src: url(.. / src / css / 'Open Sans' - Bold - webfont.eot);
    src: url(.. / src / css / 'Open Sans' - Bold - webfont.eot# iefix) format("embedded-opentype"), url(.. / src / css / 'Open Sans' - Bold - webfont.woff) format("woff"), url(.. / src / css / 'Open Sans' - Bold - webfont.ttf) format("truetype"), url(.. / src / css / 'Open Sans' - Bold - webfont.svg# 'Open Sans'bold) format("svg");
    font - weight: 700;
    font - style: normal
}
@font - face {
    font - family: 'Open Sans' - medium;
    src: url(.. / src / css / 'Open Sans' - Semibold - webfont.eot);
    src: url(.. / src / css / 'Open Sans' - Semibold - webfont.eot# iefix) format("embedded-opentype"), url(.. / src / css / 'Open Sans' - Semibold - webfont.woff) format("woff"), url(.. / src / css / 'Open Sans' - Semibold - webfont.ttf) format("truetype"), url(.. / src / css / 'Open Sans' - Semibold - webfont.svg# 'Open Sans'medium) format("svg");
    font - weight: 700;
    font - style: normal
}
@font - face {
    font - family: 'Open Sans' - italic;
    src: url(.. / src / css / 'Open Sans' - Italic - webfont.eot);
    src: url(.. / src / css / 'Open Sans' - Italic - webfont.eot# iefix) format("embedded-opentype"), url(.. / src / css / 'Open Sans' - Italic - webfont.woff) format("woff"), url(.. / src / css / 'Open Sans' - Italic - webfont.ttf) format("truetype"), url(.. / src / css / 'Open Sans' - Italic - webfont.svg# 'Open Sans'italic) format("svg");
    font - weight: 400;
    font - style: italic
}
@font - face {
    font - family: 'Open Sans' - light;
    src: url(.. / src / css / 'Open Sans' - Light - webfont.eot);
    src: url(.. / src / css / 'Open Sans' - Light - webfont.eot# iefix) format("embedded-opentype"), url(.. / src / css / 'Open Sans' - Light - webfont.woff) format("woff"), url(.. / src / css / 'Open Sans' - Light - webfont.ttf) format("truetype"), url(.. / src / css / 'Open Sans' - Light - webfont.svg# 'Open Sans'light) format("svg");
    font - weight: 400;
    font - style: normal
}
.THRON - recommendation - list - noitem {
    font - family: 'Open Sans';
    background - color: none;
    cursor: default;
    width: 100 %;
    height: 30 px;
    top: 50 %;
    color: red;
    position: relative;
    text - align: center;
    vertical - align: middle
}
.THRON - recommendation - list - default {
    font - family: 'Open Sans';
    width: calc(100 % -100 px);
    height: 430 px;
    margin - left: 50 px;
    margin - right: 50 px;
    position: relative;
    background - color: #000
}
.THRON-recommendation-list-default .k-loading-image {
    background-image: url(../src/img/widget_loader.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 50px;
    margin: auto;
    position: relative
}
.THRON-recommendation-list-default .k-loading-text {
    display: none
}
.THRON-recommendation-list-default .k-loading-color {
    display: none
}
.THRON-recommendation-list-default .slick-slider {
    font-family: 'Open Sans';
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.THRON-recommendation-list-default .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans'
}
.THRON-recommendation-list-default .slick-list:focus {
    outline: 0
}
.THRON-recommendation-list-default .slick-list.dragging {
    cursor: pointer;
    cursor: hand
}
.THRON-recommendation-list-default .slick-slider .slick-list,
.THRON-recommendation-list-default .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.THRON-recommendation-list-default .slick-track {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    margin: auto
}
.THRON-recommendation-list-default .slick-track:after,
.THRON-recommendation-list-default .slick-track:before {
    display: table;
    content: ''
}
.THRON-recommendation-list-default .slick-track:after {
    clear: both
}
.THRON-recommendation-list-default .slick-loading .slick-track {
    visibility: hidden
}
.THRON-recommendation-list-default .slick-slide {
    float: left;
    font-family: 'Open Sans';
    height: 100%;
    margin: 5px;
    position: relative;
    width: 100%;
    max-width: 498px;
}
.THRON-recommendation-list-default [dir rtl].slick - slide {
    float: right
}
.THRON - recommendation - list - default.slick - initialized.slick - slide {
    display: block
}
.THRON - recommendation - list - default.slick - loading.slick - slide {
    visibility: hidden
}
.THRON - recommendation - list - default.slick - vertical.slick - slide {
    display: block;
    height: auto;
    border: 1 px solid transparent
}
.THRON - recommendation - list - default.slick - arrow.slick - hidden {
    display: none
}
.THRON - recommendation - list - default.slick - next,
.THRON - recommendation - list - default.slick - prev {
    font - size: 0;
    line - height: 0;
    position: absolute;
    top: 50 %;
    display: block;
    height: 20 px;
    padding: 0;
    - webkit - transform: translate(0, -50 %);
    - ms - transform: translate(0, -50 %);
    transform: translate(0, -50 %);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0
}
.THRON - recommendation - list - default.slick - next: focus,
.THRON - recommendation - list - default.slick - next: hover,
.THRON - recommendation - list - default.slick - prev: focus,
.THRON - recommendation - list - default.slick - prev: hover {
    color: transparent;
    outline: 0;
    background: 0 0;
    opacity: .5
}
.THRON - recommendation - list - default.slick - next: focus: before,
.THRON - recommendation - list - default.slick - next: hover: before,
.THRON - recommendation - list - default.slick - prev: focus: before,
.THRON - recommendation - list - default.slick - prev: hover: before {
    opacity: 1
}
.THRON - recommendation - list - default.slick - next.slick - disabled: before,
.THRON - recommendation - list - default.slick - prev.slick - disabled: before {
    opacity: .25
}
.THRON - recommendation - list - default.slick - next: before,
.THRON - recommendation - list - default.slick - prev: before {
    font - family: slick;
    font - size: 20 px;
    line - height: 1;
    opacity: .75;
    color: #fff;
    - webkit - font - smoothing: antialiased;
    - moz - osx - font - smoothing: grayscale
}
.THRON - recommendation - list - default.slick - prev {
    left: -50 px;
    z - index: 1;
    height: 74 px;
    width: 39 px
}
.THRON - recommendation - list - default.slick - prev: before {
    content: url(data: image / png; base64, iVBORw0KGgoAAAANSUhEUgAAACYAAABJCAYAAABRn1QhAAAABGdBTUEAALGPC / xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAAE6UlEQVRoQ + 3 a328UVRQH8PlHoMUfWBEpgkJ / brs / 5 tfudluwUiIlIEIUQSkolSDaIBRERYuCaHzCHw++iIm8QKKYmkhCYzCaiPogvpAoJsS0mPJ2PGfambkzvTNz7 + zdZhN5ONnd2Xu / 9 zNnpt3ZyWoAoLnVsrrtaqYze7srk4OuTH7eKtOZm25v65pgLR5qPiHsWt3YgO4uv1ycA0uDCgey4dU + J5PW2tL + c7VBqufjqTSO3cpNqw5WkDelKQgJnCN + XgG3py8OLH1YNZDwXISphWS7C6CiPJiKMJUZmsowlVl3YH43dTwHk0uiY8lhIguKjkFYjRfM6pBLUdGwFGFJgJ2PdcCNdxrh + 8 OLE7FaUpiq97f3d8DNdxvg9vsL4M + xxvqAbV3T6aEIR8ikHa55x7b0ZeDGiUanU5OnFsJz69o5KAO3BatK2NxAdoHBSncAtXs9oeLnuO8jTGyg8Lgc5mFtRNT1txc5nbr13kLYt6EN8rhdtHzYbKDoxLhxA6VsALV / sFUY5OZqKiBsBqGuvXm306np0wvg4KYWaRTlKYWttfPwO4M6 / MTqVCilMEL9euwep1NUb2xdNYsy8VG + YjomHlYxdbj62r0e6q1thIqYn8ftTBXwOa8QJgiICOy1dPjxyGIPdfqZh7kLRQEiYbIT2PElQ4cro / d5qA92rFSCojW0tDBCXX61yUN9tOshZajUMEs34NLB + z3UJ0MqURbuoCXfMUKNv7LEQ32 + d9lsp2YCU1cB5zKFh1I8zCiY8NWBBzzU2b3NoIcC6bWK0lxlUpipm3B + /1IPRc8NRQje2loSiN4nwJf7lgVQBBWZm3ZMIoxQZ4ebPdT4yBKwaoyinUmEffb88gDKNkQ7ZWNHU5Zu82B+2JldKzzU5UNNUDIJFbMYBuqcMnCbbGHH+GG0wL94gUcfyP+cbID+siEdLothx2txk88M+R2bwI6VLXPecLEwQofPsaKJf6UpDo3snESYiYjwX6VtyOCKuCPyFQPzw0wMPsf+H3vpQbAMOqFjFjTwPU6ZuE2kEBYKjwi0TRsuIMi9QqXnluAiIpDwGE1mEuG+ftn/WPrixeaa
 4 aRgtBMly4ZvR5gP8uHlQodGpgE0Vhrm4tjrsU / 3 rKgSV8L5wUoFI1zFtmDikH + x + PHulXPCvcVMXDSiLNzOK4TN1YoG9hZt + OGIf83 / 4 bOPcBeJWjxuu5ZmEjtnbdmCn44yX0h2rlKCqxpGSML9csz / Xjn2dIsgrozj + JUSNjdsXcWC315nvvQ + 1e ovapXBliyERastybCBXguuHZ + 5 TUA3VI5ua5cGuTugye5J0vjBNSb8cdy / 2 zP6ZEcqnHIYwQl3fewup3N0TTeyOSONqwmMcFse1QO4A5vkcDWDObh + He / rz9zunDzVAMMbs9i5nmDZPVDkVAIsFMKGRgSGF9k + EMS9MJjlQsLzNJ5W9bYd6wtw8 + TMLXV6HHo8n4ibFxjtKGFc3F8nFtUPjHB7NuTgbzznrow21Rcs / hSpINYvBYcyGMiGF4v43myV8FGmEMYJriJQZvG4sZqqINU5d2CyHf0 / dawXSqVglfG1bDEdUxMoC4gaT7BbqsIU5kzS1cV3CgOlD1nE2hed3yjWG8z5jaL7K8p6wQV + 1e m + wPPtGwROqUf24SHGKvOrp9w3hXWR / R3sf4W7VUvhol6 / AAAAAElFTkSuQmCC);
    height: 32 px;
    width: 32 px
}
.THRON - recommendation - list - default.slick - next {
    right: -50 px;
    z - index: 1;
    height: 74 px;
    width: 39 px
}
.THRON - recommendation - list - default.slick - next: before {
    content: url(data: image / png; base64, iVBORw0KGgoAAAANSUhEUgAAACYAAABJCAYAAABRn1QhAAAABGdBTUEAALGPC / xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAAE7klEQVRoQ + 2 a228UVRzH5x9BW6G03LFe6IVuu5e57S7bgpUSKUEqRLkoBaUSRBuEgqhgURSJT94eeLEm + oKJQmqiCY3BaALog / piopgQQiHl7efvN8vc1jMzZ86cWfvQh2 / nzJlzvr / P + c5OO50dBQAUW2vKfRdQ0 + VyHzBVwn5LvbI1XSpWLnpZHKgUignB23AW2GyBsjmIiaAuzDYw0yh / R2C3ZhsYft5u / 6 + nsYQXkU9F3C9WLAmBhRnaxkm3SlKDtObPgcVNdi6x2sSKeOU5MrFdo9iJRRm6BdZgMXEptaRJzGTORbDwVV0ea4F / 3 m6EvRtziRKIqlN7PBLs71ONcPf9eXDjdAMMP5GvG1wkGMEQlA23c0OhLnCRYBTxC4NZuPXu / RbcdTyt2wdULjgT55pGmMp4nC0mGMtwZJMfbqhfDTQNKhanX4kz + ODmDNx57z4ruT / HH4Chx9KDiwVGixh90g83uFZPJbnYYAQ39tRqmDkzz0rujxPzIQ04ITCCO7at04H7 / cQCGOg1YiVnoIehBys2mNfw5NPtVmqkX19vgvUVI6BYCfvjSQmj5jEbf6bNgbt2vAnWlQkuHgRrPIIlNzm761EH7udjzVLgpIDR4j549hEH7sejzdBbNK3k9DBpeDxAgWAihh / veciBmzq8CCqmgYWLQlLYxGJmBPHp3lYH7vtDi6BkmKJg4hBBaUyMrHTgvh1dIgSHickHM9Dz8xdXOHDfvLwUTD1ecqmA0WIJ7quXljlw1CY4DfuZUrHfI24wXkOvuaGZcN4D9 + X + 5 aDXAGgqwjKkeI3itdmGtUVMzYDJ0cVOchMjKxAuei6CRQ9KOqao++HOPb + SmZK3Tl3AqGDZ0GHqcIuT3IfDraFwdQMjuP6yBjdPV2 / R6YZTxT6mCiYIgYUZqmjKUknX4ZI3sd2tNeMM3HelWEUCzPj6 / YZec7ttarrvAqDPGGucH8xDGTVY5Lih + qHoqtQ4aioixXjn6Ah1 / sBS5wP / Bf4e44Ei / 9 TACMALRW0CjVpUAeeRpIHZhrSl4hP73L + VXx9cgknpUMhjUU4pXkOrzTkxeJwOn + 1 b7py + yVcWg6Fq6Etg / FLcAvyTwgp8Mvyg735MBIr8EUwOEPl8tNuFuvRqC5Q0NVZKXhZpYGd3urfVl8eaE0FJS + zMjoed0 / fT0YXQa7hJ5TFJn3K4z6HAxHgNT25z / 3 W7 + loTVHSVq7ALp + H4 / 0 rhoWeP0eCNrS7UL8cXwDozzyzCKhzVh2Bs4qj + I1tWOc8ufntzvlQoqi0Edmhzm / tABaEGSllpSdmBxAY7MNgOt + 2 Hd281SoPKYUqWslXFAtu / scMHtanSUzXzGNrGSbcKr8GeDZ34gLj6mPP6qQYYJKh7qwveqjhGTAFgfrPn1vuhhvoywgV5QREsfEXb + 1 fDjXeq9 + m03bq2K3UoYooE + 2 v83pcPCEWQUQuRdTwS7IcjC / FLhwbY9bh8qCwmk + 1 hKxKMlUCYYVChuP1K3AnJxxcwpWjFAIs24ynIOwbB6luQt94cGG9SPd0FIElLzDaUtVVkGSX3yWNSriSA + Q295knaCJafTmKQxtzuTG5GwR + TaZgn8Wxv67xivaOYxCR0biYP3QKy3lG036L0FRAwEwFgzfG91WnvdHZ0T2W6cjOyivD55CDTlb3btqrjqvc92H8BAa9VSw0eeZgAAAAASUVORK5CYII = );
    height: 32 px;
    width: 32 px
}
.THRON - recommendation - list - item - default {
    background - color: #000;
    height: 100%;
    min-height: 320px;
    cursor: default;
    overflow: hidden;
    position: relative
}
.THRON-recommendation-list-item-default .THRON-item-image-container {
    height: 220px;
    max-height: 220px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);
    cursor: pointer;
    max-width: 100%
}
.THRON-recommendation-list-item-default:hover .THRON-item-hover-container {
    opacity: 1
}
.THRON-recommendation-list-item-default .THRON-item-href {
    width: 100%;
    height: 100%;
    text-decoration: none
}
.THRON-recommendation-list-item-default:hover .THRON-item-image-container {
    -webkit-transition: all 1.6s linear;
    -moz-transition: all 1.6s linear;
    -o-transition: all 1.6s linear;
    transition: all 1.6s linear;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: none;
    max-width: 100%
}
.THRON-recommendation-list-item-default .THRON-item-information {
    position: relative;
    top: -50px;
    width: calc(100% - 0px);
    height: calc(100% - 156px);
    overflow: hidden;
    text-decoration: none;
    transition-property: all;
    transition-duration: .4s
}
.THRON-recommendation-list-item-default .THRON-item-information>.THRON-item-title {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 50px
}
.THRON-recommendation-list-item-default .THRON-item-information>.THRON-item-title>.title-background {
    width: 100%;
    height: 100%;
    background-color: # f39726;
    opacity: .8;
    position: absolute;
    top: 0
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - title > .title - value {
    position: relative;
    top: 0;
    display: inline - block;
    padding: 0 10 px;
    height: 100 %;
    width: calc(100 % -20 px);
    overflow: hidden;
    text - shadow: 0 0 3 px #000;
    line-height: 50px
}
.THRON-recommendation-list-item-default .THRON-item-information>.THRON-item-title>.title-value>.title {
    width: calc(100% - 40px);
    height: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    color: # fff;
    font - size: 19 px;
    font - weight: 700;
    font - family: 'Open Sans'
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - title > .title - value > .type - layer {
    opacity: 1;
    position: absolute;
    right: 7 px;
    top: 7 px
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - title > .title - value > .type - layer > .icon {
    display: inline - block;
    width: 35 px;
    height: 35 px
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - title > .title - value > .type - layer > .icon.IMAGE {
    background: url(.. / src / img / title - image.png) no - repeat
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - title > .title - value > .type - layer > .icon.AUDIO {
    background: url(.. / src / img / title - audio.png) no - repeat
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - title > .title - value > .type - layer > .icon.VIDEO {
    background: url(.. / src / img / title - video.png) no - repeat
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - title > .title - value > .type - layer > .icon.PAGELET {
    background: url(.. / src / img / title - pagelet.png) no - repeat
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - title > .title - value > .type - layer > .icon.PLAYLIST {
    background: url(.. / src / img / title - playlist.png) no - repeat
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - title > .title - value > .type - layer > .icon.DOCUMENT {
    background: url(.. / src / img / title - document.png) no - repeat
}
.THRON - recommendation - wall - item - default: hover.THRON - item - information > .THRON - item - title > .title - value > .type - layer {
    opacity: 1
}
.THRON - recommendation - list - item - default.THRON - item - information > .THRON - item - description {
    height: calc(100 % -81 px);
    background - color: #fff;
    line - height: 13 px;
    color: #070707;
    font-family: 'Open Sans';
    font-size: 13px;
    padding: 6px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    top: -2px
}
