/*
###############################################################################################################
SKIN
###############################################################################################################
WIDGET CASE HISTORY
Wall 3-3-3 responsivo
*/

.THRON-caseHistory .THRON-item-history-image-level {
	overflow: hidden;
	max-height: 170px;
	margin: auto;
	position: relative;
	display: block;
	height: 170px
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-category {
	height: 52px;
	width: 100%;
	position: relative
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-category .category {
	font-size: 14px;
	line-height: 16px;
	color: #000;
	text-decoration: none;
	width: calc(100% - 32px);
	left: 22px;
	position: relative;
	position: relative;
	top: 22px;
	height: 16px
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container-logo {
	position: absolute;
	top: calc(50% - 50px);
	z-index: 12;
	width: 100%;
	max-width: 350px;
	min-width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	left: 0;
	right: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: center;
	display: inline-table
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information>.THRON-item-history-title {
	text-shadow: none;
	word-wrap: break-word;
	padding: 0 0;
	left: 22px;
	width: calc(100% - 34px);
	background-color: #fff;
	font-size: 16px;
	font-family: 'Futura', 'Open Sans', sans-serif;
	color: #848587;
	text-align: left;
	-moz-transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	z-index: 52;
	top: 30px
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information>.THRON-item-history-value-description {
	font-family: 'Futura', 'Open Sans', sans-serif;
	font-size: 20px;
	color: #848587;
	max-height: calc(100% - 130px);
	height: calc(100% - 130px);
	margin: 0 10px 0 10px;
	line-height: 24px;
	top: 33px;
	position: relative;
	left: 20px;
	width: calc(100% - 60px)
}

.THRON-caseHistory .loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.THRON-caseHistory .loader>.icon {
	display: inline-block;
	width: 57px;
	height: 57px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.THRON-caseHistory .THRON-Recommendation-wall-history-noitem {
	display: none
}

.THRON-caseHistory .THRON-Recommendation-wall-history-default {
	height: 100%!important
}

.THRON-caseHistory .THRON-Recommendation-wall-history-default .k-loading-image {
	background-image: url(../src/img/widget_loader.gif);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 50px;
	margin: auto;
	position: relative
}

.THRON-caseHistory .THRON-Recommendation-wall-history-default .k-loading-text {
	display: none
}

.THRON-caseHistory .THRON-Recommendation-wall-history-default .k-loading-color {
	display: none
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default {
	background-color: #fff;
	font-family: 'Futura', 'Open Sans', sans-serif;
	cursor: default;
	overflow: hidden;
	position: relative
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default.THRON-singol-item-classHistory {
	max-width: 445px;
	background-color: #fff;
	min-height: 390px;
	max-height: 390px;
	-webkit-box-shadow: 0 0 8px 2px rgba(189, 189, 189, .63);
	-moz-box-shadow: 0 0 8px 2px rgba(189, 189, 189, .63);
	box-shadow: 0 0 8px 2px rgba(189, 189, 189, .63)
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default:hover .THRON-item-history-hover-container {
	opacity: 1
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container {
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	filter: none;
	z-index: 8;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
	max-width: 100%;
	display: block;
	width: 100%;
	height: 100%;
	max-height: 170px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-href {
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: block;
	background-color: #fff;
	display: block
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default:hover .THRON-item-history-image-container {
	-webkit-transition: all 1.6s linear;
	-moz-transition: all 1.6s linear;
	-o-transition: all 1.6s linear;
	transition: all 1.6s linear;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: none;
	font-family: 'Open Sans', sans-serif;
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-hover-container {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 80%;
	width: 100%;
	opacity: 0;
	font-family: 'Open Sans', sans-serif;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, .5)), color-stop(100%, rgba(0, 0, 0, .7)));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .7) 100%);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .7) 100%);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .7) 100%);
	-moz-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	-webkit-transition: all .4s ease-out;
	transition: all .4s ease-out
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information {
	background-color: #fff;
	position: relative;
	bottom: 0;
	width: 100%;
	max-height: calc(100% - 222px);
	overflow: hidden;
	transition-property: all;
	transition-duration: .4s;
	font-family: 'Futura', 'Open Sans', sans-serif;
	height: calc(100% - 222px);

}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information>.THRON-item-history-title {
	display: inline-block;
	position: relative;
	max-height: 32px;
	overflow: hidden;
	line-height: 15px;
	text-shadow: none;
	padding: 0 0;
	left: 22px;
	width: calc(100% - 32px);
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #000;
	background-color: #fff;
	text-align: left;
	-moz-transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	z-index: 5;
	top: 20px
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information>.THRON-item-history-title>.THRON-item-history-value-title {
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 16px;
	font-family: 'Futura', 'Open Sans', sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
	display: block
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information>.THRON-item-history-title>.type-layer {
	opacity: 0;
	position: absolute;
	right: 7px;
	top: 7px;
	font-family: 'Open Sans', sans-serif;
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information>.THRON-item-history-value-description {
	font-family: 'Open Sans', sans-serif;
	max-height: 80px;
	height: 80px;
	color: #000;
	font-size: 13px;
	word-wrap: break-word;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: #fff;
	width: calc(100% - 32px);
	margin: 0
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information>.THRON-item-history-bottom {
	text-align: right
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information>.THRON-item-history-bottom>.icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../src/img/item-right-arrow.png) no-repeat;
	margin: 5px
}


/*
#################################
SITE STYLE
#################################*/

#recommendationWallCaseHis {
	max-width: 1080px;
	height: 800px;
	width: calc(100% - 10px);
	margin-top: 60px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 120px;
}

#recommendationWallCaseHis.THRON-dashboard {
	max-width: 100%;
	height: 800px;
	width: calc(100% - 10px);
	margin-top: 60px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 120px;
}

/*@media (max-width: 640px) {
	
	#recommendationWallCaseHis {
		width: 445px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 445px) {
	
	#recommendationWallCaseHis {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}*/

@media (max-width: 300px) {
	
	#recommendationWallCaseHis {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 200px) and (max-width: 610px) {
	#recommendationWallCaseHis {
	max-width:450px;
	margin-left:auto;
	margin-right:auto; 
	height:2400px 
	}
	}
	@media screen and (min-width: 611px) and (max-width: 900px) {
	#recommendationWallCaseHis {
	max-width:900px;
	margin-left:auto;
	margin-right:auto; 
	height:1200px 
	}
	}


/*#################################
SITE STYLE
#################################*/


/*SKIN primo widget Blocco  1/(1+1)*/

.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default.THRON-singol-item-classWall {
	max-width: 100%;
	background-color: #fff;
	min-height: 390px;
	min-width: 100px;
}

.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information {
	position: absolute;
	background-color: transparent;
}

.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-level {
	max-height: 390px;
	height: 390px;
}

.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-href-gradient {
	max-height: 390px;
	height: 390px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50&0.2+0,0.7+100 */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0.7) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0.7) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0.7) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#b3000000', GradientType=0);
	/* IE6-9 */
	position: absolute;
	z-index: 8;
	width: 100%;
	top: 0px;
	opacity: .5;
}

.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container {
	max-height: 390px;
	height: 390px;
	background-size: cover;
    background-position: center top;
}

.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-description {
	background-color: transparent;
	color: #fff;
	top: 0px;
	width: 50%;
}

.THRON-SingleWall.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information {
	top: 168px;
	height: calc(100% - 168px);
	max-height: calc(100% - 168px);
}

.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container-logo {
	position: absolute;
	top: calc(50% - 40px);
	z-index: 12;
	width: 100%;
	max-width: 400px;
	min-width: 100px;
	height: 80px;
	left: 0;
	margin: auto;
	background-position-x: center;
}

.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-link {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 18px;
	background: #4ec0ff;
	padding: 00px 10px 0px 10px;
	text-decoration: none;
	margin-left: 22px;
	width: 180px;
	line-height: 34px;
	height: 33px;
}


/*
SITO sezione software
*/

#recommendationWallSoftware {
	height: 390px;
	width: 100%;
	position: relative;
}

#recommendationWallSoftware.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-description {
	background-color: transparent;
	color: #fff;
	top: 170px;
	height: 70px;
	max-height: 64px;
	width: 100%;
	max-width: 25%;
	position: absolute;
	z-index: 10;
	margin-top: 30px;
	min-width: 200px;
}

#recommendationWallSoftware.THRON-SingleWall.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information {
	top: 0;
	height: 100%;
	max-height: 100%;
	position: absolute;
}

#recommendationWallSoftware.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-level2 .THRON-item-history-image-container-logo {
	position: absolute;
	top: 90px;
	z-index: 12;
	width: 80%;
	max-width: 400px;
	min-width: 100px;
	height: 80px;
	left: 22px;
	margin: 0 0;
	background-position-x: left;
}

#recommendationWallSoftware.THRON-SingleWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-link {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 15px;
	background: #4ec0ff;
	padding: 00px 10px 0px 10px;
	text-decoration: none;
	margin-left: 22px;
	width: 200px;
	line-height: 34px;
	height: 33px;
	position: absolute;
	top: 270px;
	z-index: 10;
}


/*
################
Blocco 1+1
################
*/

.wrapperContainer {
	padding: 70px 0px;
	background-color: #282829;
	position: relative;
}

.THRON-DiscoverMore {
	height: 100%;
	width: 50%;
	float: left;
}

.THRON-DiscoverMore .THRON-recommendation-list-noitem {
	background-color: none;
	cursor: default;
	display: none;
	/* overflow: hidden; */
	/*width: 100%;
	height: 30px;
	top: 50%;
	color: #f00;
	position: relative;
	text-align: center;
	vertical-align: middle;*/
}


/* set dimension Block dimension Element*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore {
	height: 100%;
	min-height: 320px;
	cursor: default;
	overflow: hidden;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	outline: 0;
}


/* set dimension item default*/

.THRON-DiscoverMore .THRON-recommendation-list-default {
	width: calc(100% - 0px);
	/*height:430px;*/
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
	/*background-color: #000;*/
	position: relative;
	height: 495px;
	background-color: transparent;
}


/*set image container*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore .THRON-item-image-level {
	overflow: hidden;
	background-color: white;
}


/*set image dimension and effect*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore .THRON-item-image-container {
	height: 300px;
	max-height: 300px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
	max-width: 100%;
	display: block;
}


/* set opacity hover THRON-item-hover-container*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore :hover .THRON-item-hover-container {
	opacity: 1;
}


/* set effect hover THRON-item-image-container*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore :hover .THRON-item-image-container {
	-webkit-transition: all 1.6s;
	-moz-transition: all 1.6s;
	-o-transition: all 1.6s;
	transition: all 1.6s;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	filter: none;
	max-width: 100%;
	margin: 0px!important;
	padding: 0px!important;
	height: 300PX;
}


/*set THRON-item-informatio dimension (title/description and link)*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore .THRON-item-information {
	position: relative;
	top: 0px;
	margin: 0;
	padding: 0;
	width: calc(100% - 64px);
	height: 196px;
	margin: auto;
	transition-property: all;
	transition-duration: .4s;
}


/*set dimension title area*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore .THRON-item-information>.THRON-item-title {
	display: block;
	position: relative;
	top: 20px;
	height: auto;
	width: 100%;
}


/*set dimension title area container*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore .THRON-item-information>.THRON-item-title>.title-value {
	position: relative;
	top: 0px;
	max-height: 80px;
	display: inline-block;
	padding: 0 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	line-height: 50px;
}


/*set title font,weight,size and ellipsis*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore .THRON-item-information>.THRON-item-title>.title-value>.title {
	width: 100%;
	position: relative;
	display: block;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Futura', 'Open Sans', sans-serif;
	height: 100%;
	overflow: hidden;
	word-wrap: break-word;
	color: #fff;
	line-height: 25px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}


/*set description font,weight,size and ellipsis*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore .THRON-item-information>.THRON-item-description {
	height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 20px;
    margin-bottom: 0px;
    max-height: 85px;
    /* height: auto; */
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    position: relative;
    top: 20px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;
    font-weight: initial;
    text-decoration: none;
}


/*set title-link font,weight,size and ellipsis*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore .THRON-item-href {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #f39900;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	bottom: 20px;
	line-height: 30px;
	display: block;
	font-weight: initial;
	padding-left: 0px;
	outline: 0;
	background-color: #8f8f8f;
}


/*set title-link  position*/

.THRON-DiscoverMore .THRON-recommendation-list-DiscoverMore .THRON-item-href.title-link {
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 20px;
}


/*
.THRON-DiscoverMore .THRON-recommendation-list-default .slick-slide{
margin: 0;
}

.THRON-DiscoverMore .THRON-recommendation-list-default
{

}*/


/*remove loading image */

.THRON-DiscoverMore .THRON-recommendation-list-default .k-loading-image {
	display: none;
}


/*
##############################################################################################
SKIN blocco Blog
##############################################################################################
*/


/*remove div noitem*/

.THRON-blog .THRON-recommendation-list-noitem {
	background-color: none;
	cursor: default;
	display: none;
	width: 100%;
	height: 30px;
	/*top: 50%;
	color: #f00;
	position: relative;
	text-align: center;
	vertical-align: middle;*/
}


/*..............*/


/* set dimension item default*/

.THRON-blog .THRON-recommendation-list-default {
	position: relative;
	background-color: transparent;
	width: 100%;
	/*height:430px;*/
	margin-left: 0px;
	margin-right: 0px;
	height: 413px;
}

.recom_wrap_gray{
	background-color: #cccccc;
}


/* set dimension item default*/

.THRON-blog .THRON-recommendation-list-item-sito {
	background-color: #fff;
	height: 100%;
	min-height: 320px;
	cursor: default;
	overflow: hidden;
	position: relative;
	margin-left: 10px !important;
	margin-right: 10px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	outline: 0;
	padding: 5px;
	margin: 0px;
}


/*set image container*/

.THRON-blog .THRON-recommendation-list-item-sito .THRON-item-image-level {
	overflow: hidden;
	background-color: white;
}


/*set image dimension and effect*/

.THRON-blog .THRON-recommendation-list-item-sito .THRON-item-image-container {
	height: 213px;
	max-height: 213px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
	max-width: 100%;
	display: block;
}


/* set opacity hover THRON-item-hover-container*/

.THRON-blog .THRON-recommendation-list-item-sito:hover .THRON-item-hover-container {
	opacity: 1;
}


/* set effect hover THRON-item-image-container*/

.THRON-blog .THRON-recommendation-list-item-sito:hover .THRON-item-image-container {
	-webkit-transition: all 1.6s;
	-moz-transition: all 1.6s;
	-o-transition: all 1.6s;
	transition: all 1.6s;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	filter: none;
	max-width: 100%;
	margin: 0px!important;
	padding: 0px!important;
	height: 213px;
}


/*set THRON-item-informatio dimension (title/description )*/

.THRON-blog .THRON-recommendation-list-item-sito .THRON-item-information {
	position: relative;
	top: 23px;
	margin: auto;
	width: calc(100% - 44px);
	overflow: hidden;
	text-decoration: none;
	transition-property: all;
	transition-duration: .4s;
}


/*set dimension title area*/

.THRON-blog .THRON-recommendation-list-item-sito .THRON-item-information>.THRON-item-title {
	display: block;
	position: relative;
	/*padding: 0 6px;*/
	height: 40px;
	width: 100%;
	overflow: hidden;
	word-wrap: break-word;
}


/*set dimension title area container*/

.THRON-blog .THRON-recommendation-list-item-sito .THRON-item-information>.THRON-item-title>.title-value {
	position: relative;
	top: 0px;
	display: inline-block;
	padding: 0 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}


/*set title font,weight,size and ellipsis*/

.THRON-blog .THRON-recommendation-list-item-sito .THRON-item-information>.THRON-item-title>.title-value>.title {
	width: 100%;
    position: relative;
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Futura', 'Open Sans', sans-serif;
    height: 100%;
    line-height: 20px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    /* text-transform: uppercase; */
    margin: 0;
    text-align: left;
    text-decoration: none;
}


/*set description font,weight,size and ellipsis*/

.THRON-blog .THRON-recommendation-list-item-sito .THRON-item-information>.THRON-item-description {
		height: calc( 100% - 180px);
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 20px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    top: 0px;
    color: #000;
    font-size: 13px;
    margin-bottom: 0px;
    box-sizing: border-box;
    max-height: 80px;
    min-height: 80px;
    text-decoration: none;
}


/*set title-link font,weight,size and ellipsis*/

.THRON-blog .THRON-recommendation-list-item-sito .THRON-item-href {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #f39900;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	bottom: 20px;
	background-color: #fff;
	line-height: 30px;
	display: block;
	font-weight: initial;
	padding-left: 0px;
	outline: 0;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}


/*remove loading image */

.THRON-blog .THRON-recommendation-list-default .k-loading-image {
	display: none;
}


/*SITO */

#THRON-blog-widget.THRON-blog {
	max-width: 1080px;
	width: 100%;
	top: 20px;
	position: relative;
	margin: auto;
}


/*##############################################################################################
SKIN  HERO blocco Blog tipo non custom
##############################################################################################*/


/*special hero widget*/

.TH-SpecialHero {
	top: 70px;
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 104px;
	height: 443px;
}

.TH-SpecialHero #recommendationHeroWall {
	box-shadow: none;
}

.TH-SpecialHero .THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-item {
	left: 50%;
	padding-top: 0%;
	padding-right: 10%;
}

.TH-SpecialHero .THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-value-link {
	left: 10%;
}

.TH-SpecialHero .THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information {
	left: 0%;
	top: 0px;
	max-width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.TH-SpecialHero .THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-description {
	display: none;
}

.TH-SpecialHero .THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	max-height: 250px;
	height: 250px;
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default.THRON-singol-item-classWall {
	max-width: 100%;
	background-color: #fff;
	min-height: 420px;
	/*min-width: 420px;*/
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-item {
	height: 100%;
	max-width: 50%;
	margin-left: 50px;
	position: absolute;
	width: calc(50% - 50px);
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 25px;
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information {
	position: absolute;
	background-color: transparent;
	width: 50%;
	top: 42px;
	height: calc(100% - 70px);
	max-height: calc(100% - 70px);
	/* float: right; */
	display: inline-block;
	left: 50px;
	max-width: 590px;
	/* float: right; */
	/* padding-right: 109px; */
	left: 50%;
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-title {
	/*max-width: 490px;*/
	min-width: 290px;
	width: 100%;
	color: rgb(51, 51, 51);
	font-weight: 900;
	font-size: 32px;
	line-height: 36px;
	max-height: 106px;
	height: 106px;
	overflow: hidden;
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-level {
	max-height: 100%;
	height: 100%;
	/*max-width: 410px;*/
	margin: 0 auto;
	overflow: unset;
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default:hover .THRON-item-history-image-container {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	filter: none;
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container-logo {
	position: absolute;

	z-index: 12;
	width: 100%;
	max-width: 200px;
	min-width: 200px;
	height: 80px;
	margin: 0 auto;
	top: 360px;

}
#recommendationHeroWall_firstVist .THRON-item-history-image-container-logo {
	position: absolute;

	z-index: 12;
	width: 100%;
	max-width: 200px;
	min-width: 200px;
	height: 80px;
	margin: 0 auto;
	top: 360px;

}



.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container {
	max-height: 100%;
	height: 100%;
	max-width: 450px;
	width: 100%;
	margin: auto;
	background-position: center;
	background-size: cover;
	left: 0px;
}

#recommendationHeroWall_firstVist .THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container{
		max-height: 100%;
    height: 100%;
    max-width: 450px;
    width: 100%;
    margin: auto;
    background-position: center;
    background-size: contain;
    left: 0px;
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-subtitle {
	background-color: transparent;
	top: 13px;
	width: calc(100% - 10px);
	margin: 0px;
	left: 0px;
	max-height: 52px;
	height: 52px;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	position: relative;
	color: #f39900;
	overflow: hidden;
}

#recommendationHeroWall_firstVist.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-subtitle{
		background-color: transparent;
	    top: 34px;
	    width: calc(100% - 150px);
	    margin: 0px;
	    left: 0px;
	    max-height: 60px;
	    height: 60px;
	    font-weight: 600;
	    font-size: 17px;
	    line-height: 24px;
	    position: relative;
	    color: #f39900;
	    overflow: hidden;
}

/*#recommendationHeroWall_firstVist.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-title {
	max-width: 500px;
	min-width: 300px;
	width: 132%;
	color: rgb(51, 51, 51);
	font-size: 47px;
	font-weight: 600;
	line-height: 36px;
	max-height: 230px;
	height: 220px;
	overflow: hidden;
	line-height: 115%;
}*/

#recommendationHeroWall_firstVist.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-description{
	display:none;
}


.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-description {
	background-color: transparent;
	color: #000;
	top: 22px;
	width: 100%;
	margin: 0px;
	left: 0px;
	max-height: 80px;
	height: 80px;
	font-size: 16px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	overflow: hidden;
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-value-link {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-weight: 600;
	padding: 5px 23px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size: 14px;
	color: #fff;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	background-color: #4dc0ff;
	border: 0px;
	text-decoration: none;
	width: 200px;
	height: 35px;
	top: 66px;
	position: relative;
	overflow: hidden;
	left: 50%;
	top: calc(100% - 90px);
}

.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default:hover .THRON-item-history-value-link {
	background: #1cabf8;
	color: #fff;
}


/*
SITO
*/
#recommendationHeroWall_firstVist,
#recommendationHeroWall {
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	height: 460px;
	margin-bottom: 70px;
}

@media (max-width: 768px) {
	#recommendationHeroWall .THRON-Recommendation-wall-history-item-default .THRON-item-history-href {
		padding-right: 15px;
		padding-left: 15px;
	}
	#recommendationHeroWall .THRON-Recommendation-wall-history-item-default {
		height: 100%!important;
	}
	#recommendationHeroWall .THRON-item-history-item,
	#recommendationHeroWall {
		height: 880px;
	}
	#recommendationHeroWall .THRON-item-history-information,
	#recommendationHeroWall .THRON-item-history-item {
		width: 100%;
		max-width: 100%;
		height: 50%;
		max-height: 50%;
		left: 0px;
		margin: 0;
		padding: 25px;
	}
	#recommendationHeroWall .THRON-item-history-item {
		top: 375px;
	}
	#recommendationHeroWall .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container-logo{
		background-size: contain;
		top:320px
		}

	#recommendationHeroWall .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container {
		width: 100%;
		max-width: 100%;
		background-size: contain;
	}
	#recommendationHeroWall .THRON-Recommendation-wall-history-item-default .THRON-item-history-value-link {
		font-size: 18px;
		padding: 13px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		margin: auto;
		height: 53px;
		width: 215px;
		left: 0px;
		margin: auto;
		position: relative;
	}

	.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-value-link{
		font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 23px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #4dc0ff;
    border: 0px;
    text-decoration: none;
    width: 190px;
    height: 35px;
    top: 66px;
    position: relative;
    overflow: hidden;
    left: 0;
    top: calc(100% - 90px);
    margin-left: auto;
    margin-right: auto;
	}




#recommendationHeroWall_firstVist .THRON-Recommendation-wall-history-item-default .THRON-item-history-href {
	padding-right: 15px;
	padding-left: 15px;
}
#recommendationHeroWall_firstVist .THRON-Recommendation-wall-history-item-default {
	height: 100%!important;
}
#recommendationHeroWall_firstVist .THRON-item-history-item,
#recommendationHeroWall_firstVist {
	height: 880px;
}
#recommendationHeroWall_firstVist .THRON-item-history-information,
#recommendationHeroWall_firstVist .THRON-item-history-item {
	width: 100%;
	max-width: 100%;
	height: 50%;
	max-height: 50%;
	left: 0px;
	margin: 0;
	padding: 25px;
}
#recommendationHeroWall_firstVist .THRON-item-history-item {
	top: 375px;
}
#recommendationHeroWall_firstVist .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container-logo{
	background-size: contain;
	top:320px
	}

#recommendationHeroWall_firstVist .THRON-Recommendation-wall-history-item-default .THRON-item-history-image-container {
	width: 100%;
	max-width: 100%;
	background-size: contain;
}
}
/*#recommendationHeroWall_firstVist .THRON-Recommendation-wall-history-item-default .THRON-item-history-value-link {
	font-size: 18px;
	padding: 13px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: auto;
	height: 53px;
	width: 215px;
	left: 0px;
	margin: auto;
	position: relative;
}*/

#recommendationHeroWall_firstVist.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-subtitle{
			background-color: transparent;
	    /* top: 34px; */
	    width: calc(100% - 150px);
	    margin: 0px;
	    left: 0px;
	    max-height: 100px;
	    height: 100px;
	    font-weight: 600;
	    font-size: 17px;
	    line-height: 24px;
	    position: relative;
	    color: #f39900;
	    overflow: hidden;
}

#recommendationHeroWall_firstVist.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-title{
	max-width: 500px;
	min-width: 100%;
	width: 100%;
	color: rgb(51, 51, 51);
	font-size: 47px;
	font-weight: 600;
	line-height: 36px;
	max-height: 230px;
	height: 220px;
	overflow: hidden;
	line-height: 115%;

}

@media screen and (max-width: 700px){
	#recommendationHeroWall_firstVist.THRON-HeroWall.THRON-caseHistory .THRON-Recommendation-wall-history-item-default .THRON-item-history-information .THRON-item-history-value-title{
		max-width: 500px;
		min-width: 100%;
		width: 100%;
		color: rgb(51, 51, 51);
		font-size: 40px;
		font-weight: 600;
		line-height: 36px;
		max-height: 230px;
		height: 230px;
		overflow: hidden;
		line-height: 115%;
	
	}
}



/*
generic
*/
/* fix color standar*/
.THRON-search-default,
.THRON-search-default .THRON-search-simple-container{
	background-color:transparent!important;
}
/*START SEARCH BAR STYLE*/
/*set style for search wrapper*/

.standardContainerWidgetSearchBlog .THRON-search-default {
	border: none;
	width: 100%;
	max-width:300px;
	float: right;
	right: 60px;
}
/*set background for search bar*/

.standardContainerWidgetSearchBlog .THRON-search-default .THRON-search-simple-container-base {
	background: rgba(40, 40, 41, 1);
	min-height: 60px;
	float: left;
}
/*set style for input in search bar*/

.standardContainerWidgetSearchBlog .THRON-search-default .THRON-search-simple-container .THRON-search-input {
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	font-size: 12pt;
	margin-top: 4px!important;
	margin-bottom: 7px!important;
	margin-left: 0!important;
	margin-right: 13px;
	font-family: "Open Sans", sans-serif;
	width: 110px;
	!important;
	float: right;
	!important;
}
/*remove advanced search*/

.standardContainerWidgetSearchBlog .THRON-search-default .THRON-search-simple-container .THRON-search-advanced-toggle-button {
	display: none!important;
}
/*align search button*/

.standardContainerWidgetSearchBlog .THRON-search-default .THRON-search-simple-container .THRON-search-button {
	margin-top: 7px!important;
	margin-bottom: 7px!important;
	float: left;
	width: 25px;
	height: 26px;
}
/*set background*/

#bar-container {
	background: rgba(40, 40, 41, 1);
	width: 100%;
	height: 60px;
	padding-left: 10px;
}
.wrapperElement{

	width: 100%;
	max-width: 1080px;
	margin: auto;
	position: relative;
}


.standardContainerWidgetSearchBlog .THRON-search-default .THRON-search-simple-container .THRON-search-cancel {
	display: none!important;
}
/*END SEARCH BAR STYLE*/
/*START CONTENT LIST STYLE*/
/*center content list*/


.listContainer {
	margin:auto;
	width: 100%;
	max-width:100%;
	height: 800px;
	max-height: 1900px;
	margin-top:40px;
	/* min-height: 816px;*/

}
/*style for single content section*/

.standardEmbedContainerWidgetListBlog .THRON-element-container {
	max-width: 1037px!important;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	margin: 0px auto 70px auto!important;
	float: none;
	height: 250px;
	border: none;
}

section.active{
	display:inherit;
	background-color:rgba(0,0,0,0.8);

}
/*section > span > div > .container.m-big  {

background-color:#fff;

}*/

section.active > span > div > .container.m-big  {
	display:inline;
	background-color:transparent;
	margin-bottom:0px;
	height:70px;
	padding-left: unset;
	padding-right: unset;
	display: inline-block;
}
/* section  {

height:800px;


}
section > .hs_cos_wrapper  {
height:100%;
}
section > .hs_cos_wrapper > .hs_cos_wrapper  {
height:100%;
}
*/
@media screen and (max-width: 1024px){
	section{
		/* margin-top:0!important;
		top:-205px;*/
	}

}
@media screen and (max-width: 330px){
	section{
		/* margin-top:250!important;
		top:0px;*/
	}
	header .container-fluid .container{
		display:inline!important;
	}

}

.standardEmbedContainerWidgetListBlog .THRON-element-container:first-child {
	max-width: 1037px!important;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	margin: 70px auto 70px auto!important;
	float: none;
	height: 250px;
	border: none;
}
/*remove date from result*/

.standardEmbedContainerWidgetListBlog .THRON-element-container .THRON-metadata-date {
	display: none;
}
/*remove author name*/

.standardEmbedContainerWidgetListBlog .THRON-element-container .THRON-metadata-owner {
	display: none;
}
/*content title style*/

.standardEmbedContainerWidgetListBlog .THRON-element-container .THRON-metadata-name {
	font-family: 'Futura', 'Open Sans', sans-serif;
	font-size: 1.25em;
	width: calc(100% - 450px);
	float: left;
	text-align: left;
	margin-left: 46px;
	margin-top: -4px;
	margin-bottom: 5px;
	color: #333;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 36px;
	min-height: 3em;
}
/*content description style*/

.standardEmbedContainerWidgetListBlog .THRON-element-container .THRON-metadata-description {
	width: calc(100% - 370px);
	color: #333;
	font-size: 1em;
	text-align: left;
	margin-left: 46px;
	margin-top: 5px;
	margin-bottom: 15px;
	float: left;
	overflow: hidden;
	height: 147px;
	white-space: normal;
	word-break: break-word;
	/*line-height: 180%;*/
	line-height: 30px;
	font-size: 1em;
}
/*remove content type icon*/

.standardEmbedContainerWidgetListBlog .THRON-contentType-IMAGE {
	display: none;
}

.standardEmbedContainerWidgetListBlog .THRON-element-container .content-image-container {
	float: left;
	position: relative;
	width: 317px;
	height: 210px;
	padding: 0;
	cursor: pointer;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	border: none!important;
}
/*END  OF CONTENT LIST STYLE*/
/*body style for display-->remove it!*/

.containerWidgetListBlog,
.standardEmbedContainerWidgetListBlog {
	max-width: 100%;
	width: 100%;
	margin: auto;
	height:100%;
	/* max-height:100px;*/
	position: relative;
}
.containerWidgetListBlog{
	max-width: 920px;
}

.containerWidgetListBlog .THRON-archive-vl-content-default,
.standardEmbedContainerWidgetListBlog .THRON-archive-vl-content-default{

	/*   height:800px;*/

}



/*START SEARCH STYLE*/
/* set dimensions and background for search bar wrapper*/

.containerWidgetSearchBlog.searchOpen {
	/*background: rgba(0, 0, 0, 0.8);
	max-height: 50px;
	margin: 0 auto;
	padding-bottom: 55px;*/
	width: calc(100% - 70px);
}
/*remove border from search bar*/

.containerWidgetSearchBlog.searchOpen .THRON-search-default {
	border: none;
}
.containerWidgetSearchBlog.searchOpen .THRON-search-default .THRON-search-simple-container  {
	height: 60px;
	width: 100%;
	background-color: rgba(37, 37, 37, 1);
	position:relative;
}


/*remove advanced search dropdown menu*/

.containerWidgetSearchBlog.searchOpen .THRON-search-default .THRON-search-simple-container .THRON-search-advanced-toggle-button {
	display: none!important;
}
/*set dimensions and background for search container */

.containerWidgetSearchBlog.searchOpen .THRON-search-default .THRON-search-simple-container-base {
	background: transparent;
	width: calc(100% - 30px);
	max-width: 920px;
	min-height: 60px;
	position: relative;
	float: none;
	margin: auto;
	/*bottom: 10px;*/

}
/*set style in search input field*/

.containerWidgetSearchBlog.searchOpen .THRON-search-default .THRON-search-simple-container .THRON-search-input {
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	font-size: 12pt;
	margin-top: 6px!important;
	margin-bottom: 8px!important;
	margin-left: 0!important;
	width: 100%;
}
/*set line under text in search input field*/

.containerWidgetSearchBlog.searchOpen .THRON-search-input-selected-container {
	border-bottom: solid 1px rgba(255, 255, 255, 0.9);
	/*margin-left: 108px;*/
	max-width: 920px;
	width:calc(100% - 50px);
}
/*align search button to text input*/

.containerWidgetSearchBlog.searchOpen .THRON-search-default .THRON-search-simple-container .THRON-search-button {
	display: block!important;
	margin-top: 8px!important;
	margin-bottom: 7px!important;
	margin-left: 16px;
	float: left;
}
/*set close search button (style and position)*/

.close_x {
	height: 16px;
	width: 16px;
	opacity: 0.5;
	cursor:pointer;
}

#close-searchOpen {
	z-index: 1000;
	background: transparent;
	position: absolute;
	top: 18px;
	right: 36px;
}
/*hide x (reset button) on search bar*/

.containerWidgetSearchBlog.searchOpen .THRON-search-default .THRON-search-simple-container .THRON-search-cancel {
	display: none!important;
}

.THRON-search-controlBarRight-icon {
	display: none;
}

.containerWidgetSearchBlog.searchOpen .THRON-search-controlBarLeft-icon {
	display: none;
}
/*set style for autocomplete bar*/

.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
	width: 960px!important;
	height: auto!important;
	display: block!important;
	font-size: 16px!important;
	font-family: "Open Sans", sans-serif!important;
	font-stretch: normal!important;
	font-style: normal;
	!important font-weight: 100!important;
	line-height: normal!important;
	left: 2px!important;
	position: absolute!important;
}
/*END SEARCH STYLE*/
/*START CONTENT LIST STYLE*/
/*remove image item from results*/

.containerWidgetListBlog.searchOpen .THRON-element-container .content-image-container {
	display: none;
}
/*set background for result list container*/

.containerWidgetListBlog.searchOpen .THRON-archive-vl-content-default {
	background: rgba(0, 0, 0, 0.8);
	margin: 0 auto;
	width: 100%!important;
	height: 100%!important;
}
/*this div is used for correct centering the content list-->rember to wrap content list in this div*/

.listContainer.searchOpen {
	margin:auto;
	width: 100%;
	max-width:920px;
	height: 100%;
	max-height: 1900px;
	min-height: 816px;
}
.searchOpen.containerWidgetListBlog,
.searchOpen.containerWidgetListBlog .THRON-archive-vl-content-default{

	/* height:800px!important;*/

}


/*style for single content section*/

.containerWidgetListBlog.searchOpen .THRON-element-container {
	max-width: 860px!important;
	font-family: "Open Sans",sans-serif;
	border: 1px solid black;
	margin: 0px auto 20px auto!important;
	float: none;
	height: 250px;
}
/*style for no found content message*/
.containerWidgetListBlog.searchOpen .THRON-element-container.no-data-found-container {
	max-width: 800px!important;
	    font-family: "Open Sans", sans-serif;
	    margin: 0px auto 20px auto!important;
	    float: none;
	    height: 250px;
	    border: none;
	    background: transparent;
}

.containerWidgetListBlog.searchOpen .THRON-element-container.no-data-found-container .THRON-metadata-name{
	font-family: 'Futura', 'Open Sans', sans-serif;
    font-size: 1.4em;
    width: calc(100% - 170px);
    float: left;
    text-align: left;
    margin-left: 26px;
    margin-top: 20px;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 36px;
    min-height: 3em;
    margin-bottom: 5px;
    text-align: center;
    line-height: 160%;
}
/*remove date from result*/

.containerWidgetListBlog.searchOpen .THRON-element-container .THRON-metadata-date {
	display: none;
}
/*remove author name*/

.containerWidgetListBlog.searchOpen .THRON-element-container .THRON-metadata-owner {
	display: none;
}
/*content title style*/

.containerWidgetListBlog.searchOpen .THRON-element-container .THRON-metadata-name {
	font-family: 'Futura', 'Open Sans', sans-serif;
	font-size: 1.4em;
	width: calc(100% - 170px);
	float: left;
	text-align: left;
	margin-left: 26px;
	margin-top: 20px;
	color: #333;
	font-weight: bold;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 36px;
	min-height: 3em;
	margin-bottom: 5px;
}
/*content description style*/

.containerWidgetListBlog.searchOpen .THRON-element-container .THRON-metadata-description {
	width: calc(100% - 50px);
	color: #333;
	font-size: 1.1em;
	text-align: left;
	margin-left: 26px;
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
	overflow: hidden;
	height: 7em;
	white-space: normal;
	word-break: break-word;
	/*line-height: 180%;*/
	line-height: 30px;
	font-size: 1em;
}
/*remove content type icon*/

.containerWidgetListBlog.searchOpen .THRON-contentType-IMAGE {
	display: none;
}

/*  RESPONSIVE**/
.listContainer.TH-less-600{
	height:400px;
	width: 98%;
	margin: auto;
}

.TH-less-600 .THRON-archive-vl-content-default .THRON-element-container{
	height:400px;
	position: relative;
}
.TH-less-600 .THRON-archive-vl-content-default .THRON-element-container .THRON-metadata-description,
.TH-less-600 .THRON-archive-vl-content-default .THRON-element-container .THRON-metadata-name,
.TH-less-600 .THRON-archive-vl-content-default .THRON-element-container .content-image-container{
	width:100%;
	margin-left: 0px;
	margin-top: 0px;
}

.TH-less-600 .THRON-archive-vl-content-default .THRON-element-container .THRON-metadata-description,
.TH-less-600 .THRON-archive-vl-content-default .THRON-element-container .THRON-metadata-name{
	width:100%;

	margin-top: 5px;
}


section > span > div > .container.m-big.thron-azienda-circle {
    background:transparent!important;
}


.noVisit .TH-widget-hero-primary{
    display:none;
}

.firstVisit .TH-primary-hero,
.firstVisit .TH-widget-hero-banner{
    display:none;
}

#recommendationHeroWall_firstVist{
    background-image:url('https://hub-cdn.thron.com/shared/assets/preloader/F39900.gif');
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

#recommendationHeroWall_firstVist .THRON-Recommendation-wall-history-default{
    opacity: 0;
}

@media screen and (max-width: 768px){
.wrapperContainer #discoverMoreLeft {
	width: 100%;
	max-width: 505px;
	float: unset;
	margin: auto;
	position: relative;
	}
.wrapperContainer #discoverMoreright {
display:none;
}

.wrapperContainer #discoverMoreLeftTech {
	width: 100%;
	max-width: 505px;
	float: unset;
	margin: auto;
	position: relative;
	}
.wrapperContainer #discoverMorerightTech {
display:none;
}
}


.iubenda-cs-content{
	background-color: #282829!important;
}

button.slick-prev.slick-arrow{
	display: none!important;
}

button.slick-next.slick-arrow{
	right: 0;
    display: none!important;
    z-index: 1;
    bottom: 50%;
    float: right;
	position: absolute;
	content: "";
}
button.slick-next.slick-arrow:before{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAABJCAYAAABRn1QhAAAABGdBT…FgzfG91WnvdHZ0T2W6cjOyivD55CDTlb3btqrjqvc92H8BAa9VSw0eeZgAAAAASUVORK5CYII=);
    height: 32px;
    width: 32px;
}

.recc_container{
	max-width: 1020px;
    margin: 0 auto;
    min-height: 644px;
}

/*style per bacheca di prodotto */

#recommendationWallCaseHis.THRON-caseHistory.THRON-dashboard .THRON-Recommendation-wall-history-item-default.THRON-singol-item-classHistory {
	box-shadow: none ;
	border: none;
}
#recommendationWallCaseHis.THRON-caseHistory.THRON-dashboard .THRON-Recommendation-wall-history-item-default.THRON-singol-item-classHistory
{
	top: unset!important;
	left: unset!important;
	position: relative!important;
	display: inline-block;
	margin-left: 3px;

}
#recommendationWallCaseHis.THRON-caseHistory.THRON-dashboard .THRON-Recommendation-wall-history-item-default .THRON-item-history-href {
	width: calc( 100% - 12px);
	height: calc( 100% - 12px);
	border: 1px solid #e4e4e4;
	margin: 5px;
}
#recommendationWallCaseHis.THRON-caseHistory.THRON-dashboard{
	width: 100%;
}
